<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-md-8 text-center">
			<h1 class="mb-4">Welcome to your personal recipe book</h1>
			<p class="lead">Save your favourite recipes here.</p>
			<p>Use the navigation bar above to check your recipes or add new ones.</p>
		</div>
	</div>
</div>
